{% load i18n people_tags %}

<figure>
    <img src="{% gravatar user.email 50 %}" alt="{{ user.username }}">
    <span>{{ user.get_full_name|default:user.username }}</span><br>
    <span>{% if request.user.username == user.username %}<a href="{% url profile-edit %}">{% trans "Edit profile" %}</a>{% endif %}</span><br>
    <span>Start work: <em>{{ user.get_profile.start_work }}</em></span><br>
    <span>Vacation days: <em>{{ user.get_profile.vacation_days }}</em></span><br>
    <span>Vocation days used: <em>{{ user.get_profile.vacation_days_used }}</em></span>
</figure>
