{% extends "base.html" %}
{% load shout_tags %}
{% block content %}
<h1>Shout list</h1>
<section id="shouts">
	{% if shouts %}
	<ul>
	{% for shout in shouts %}
		<li>{% if shout.is_private %}<b>!</b>{% endif %}
			<p>
				<a href="{{shout.user.get_absolute_url}}" class="user">{{shout.user.get_full_name|default:shout.user.username}}</a>
				<time datetime="{{shout.created|date:"c"}}" class="relative">{{shout.created}}</time>
			<p>
			{{shout.message|safe}}
			<a href="{{shout.get_absolute_url}}" class="permalink">#</a>
		</li>
	{% endfor %}
	</ul>
	{% else %}
	<p class="empty">There are no shouts yet. You can be first one.</p>
	{% endif %}
</section>
{% endblock content %}