@import "reset.css";
body {
  background: #f4f4f4;
  font: normal 1em/1.5 "Droid Sans", sans-serif;
}
a {
  color: #3875d7;
}
.button {
  background: #f2f2f2;
  height: 2.5em;
  float: left;
  font-size: .75em;
  line-height: 2.5em;
  padding: .25em .5em;
  border-radius: .25em;
  color: #222;
  text-decoration: none;
  box-shadow: 0 0 .125em #222;
}
.button:hover {
  box-shadow: 0 0 .25em #444;
  background: #fff;
}
a.create {
  background: #f2f2f2;
  height: 2.5em;
  float: left;
  font-size: .75em;
  line-height: 2.5em;
  padding: .25em .5em;
  border-radius: .25em;
  color: #222;
  text-decoration: none;
  box-shadow: 0 0 .125em #222;
}
a.create:hover {
  box-shadow: 0 0 .25em #444;
  background: #fff;
}
body > header {
  background: #5a6f85;
  background-image: -moz-linear-gradient(#7288a0, #5a6f85);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7288a0), to(#5a6f85));
  background-image: -webkit-linear-gradient(#7288a0, #5a6f85);
  background-image: -o-linear-gradient(#7288a0, #5a6f85);
  border-bottom: 0.25em solid #455667;
  box-shadow: 0 0 .5em #222;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  z-index: 999;
}
body > header a {
  text-decoration: none;
}
body > header h1 {
  clear: both;
  font: normal 1.5em/1 "Droid Sans", "Lucida Grande", sans-serif;
  letter-spacing: -0.075em;
  height: 2em;
  line-height: 2em;
  margin-left: .75em;
}
body > header h1 a {
  color: #f2f2f2;
  text-shadow: 0 0 .125em #fff;
  position: relative;
}
body > header h1 a span {
  font-size: .2em;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  color: #fff;
  background: #3875d7;
  display: block;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 .5em;
  border-radius: .25em;
  letter-spacing: 0;
}
body > header #workflow {
  position: absolute;
  left: 19.5em;
  bottom: .75em;
}
body > header #workflow form {
  float: left;
  /*            border-left: 1px solid #999;*/

  color: #fff;
  padding: 0 .5em;
  font-size: .75em;
}
body > header #workflow form:first-child {
  border: none;
}
body > header #workflow form span.control {
  display: none;
}
body > header #workflow form p {
  float: left;
}
body > header #workflow form label {
  margin-right: .5em;
}
body > header #workflow form label em {
  background: #8195aa;
  padding: .25em .5em;
  border-radius: .25em;
}
body > header nav {
  position: absolute;
  right: 1em;
  bottom: 0;
  height: 2.5em;
  line-height: 2.5em;
}
body > header nav a {
  color: #fff;
  font-size: .8em;
  padding: 0 1em;
  border-left: 1px solid #999;
}
body > header nav a:first-child {
  border: none;
}
body > header nav a:hover {
  color: #eee;
  text-shadow: 0 0 .25em #fff;
}
body > header form.shout {
  display: none;
  width: 100%;
  padding: .5em 0;
  border-bottom: .25em solid #999;
}
body > header form.shout textarea {
  height: 2em;
  width: 100%;
  background: #ffffff;
  color: #444;
  resize: vertical;
  max-height: 10em;
  border: none;
  font-family: "Georgia", sans-serif;
}
body > header form.shout textarea:focus {
  outline: none;
}
body > header form.shout p:not(.controls) {
  background: #ffffff;
  padding: .25em .5em;
  margin: .5em 1em;
  border-radius: .125em;
}
body > header form.shout p.controls {
  clear: both;
  padding: 0 1em;
  text-align: right;
}
body > header form.shout p.controls .help {
  font-size: .8em;
  color: #afbcc9;
}
#content {
  margin: 5em 1em 1em 20em;
}
#bar {
  background: #444;
  padding-left: 10em;
  box-shadow: 0 0 .5em #222;
  position: absolute;
  top: -2em;
}
#bar textarea {
  height: 2em;
}
.main-list header {
  border-bottom: .25em solid #eee;
  padding: 1.5em 1em .5em;
  margin-bottom: 1em;
  height: 1.75em;
}
.main-list header h1 {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: -0.0125em;
}
.main-list header span.updated {
  float: right;
}
.main-list ul {
  list-style: none;
}
.main-list li {
  padding: .5em 1em 1em;
  position: relative;
  background: #fff;
  margin-bottom: .125em;
  border-radius: .125em;
}
.main-list li.my {
  background: #eee;
}
.main-list li.date {
  font-size: 1.25em;
  text-align: center;
  color: #999;
  text-shadow: 0 0 1px #fff;
  margin-top: 1em;
  letter-spacing: -0.07em;
  background: none;
}
.main-list li span.time {
  position: absolute;
  left: 1em;
  width: 3em;
  text-align: center;
  top: 1em;
  font-size: .75em;
  color: #999;
  text-shadow: 0 0 1px #fff;
}
.main-list li p.headline {
  font-size: .75em;
  margin: .5em 0 0 4em;
}
.main-list li p.headline img {
  float: left;
  margin-right: .5em;
}
.main-list li article {
  margin-left: 3em;
  font-family: "Georgia", sans;
}
.main-list time {
  font-size: .75em;
  color: #fff;
  background: #aaa;
  padding: .25em .5em;
  border-radius: .5em;
}
aside {
  margin: 5em 0 1em 1em;
  float: left;
  width: 18em;
  box-shadow: .125em .125em .5em #222;
  border-radius: .25em;
  overflow: hidden;
}
aside #user-info img {
  float: left;
  margin-right: .5em;
}
aside #user-info h1 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  padding: .25em .25em .25em 0;
}
footer {
  font-size: .75em;
  background: #5a6f85;
  padding: .25em 0;
  text-align: center;
  border-top: .25em solid #455667;
  color: #fff;
}
#modal {
  box-shadow: .125em .125em .5em #222;
  border-radius: .25em;
  background: #f4f4f4;
  position: relative;
  overflow: hidden;
  display: none;
}
#modal h2 {
  background: #5a6f85;
  color: #fff;
  padding: .5em 1em;
}
#modal form {
  padding: 0 1em;
}
#modal form p {
  clear: both;
  line-height: 2em;
}
#modal form p label {
  float: left;
  width: 7em;
}
#modal form p.controls {
  margin-top: .5em;
}
.plan-date {
  font-size: 0.7em;
  color: #fff;
  background: #ADD8E6;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
}
