{% extends "base.html" %}
{% load i18n people_tags planning_tags %}
{% block title %}Dashboard{% endblock title %}
{% block aside %}
<section id="user-info">
<img src="{% gravatar user.email 96 %}" alt="">
<h1><a href="{{ user.get_profile.get_absolute_url }}">{{ user.get_full_name|default:user.username }}</a></h1>
{% user_plans user.username %}
<a href="{% url planning %}">Plan something</a>
</section>
<div id="voting">
  <form action="{% url vote %}" method="post" accept-charset="utf-8">
      {% csrf_token %}
      <p>
          {{form.vote}}
          <input type="submit" value="↻"/>
      </p>
  </form>
</div>
{% endblock aside %}
{% block content %}
    {% include "activity/activity.html" %}
{% endblock %}
