{% extends "base.html" %}
{% load i18n people_tags %}
{% block title %}Dashboard{% endblock title %}
{% block aside %}
<section id="user-info">
<img src="{% gravatar user.email 96 %}" alt="">
<h1>{{user.get_full_name|default:user.username}}</h1>
</section>
<div id="voting">
  <form action="{% url vote %}" method="post" accept-charset="utf-8">
      {% csrf_token %}
      <p>
          {{form.vote}}
          <input type="submit" value="↻"/>
      </p>
  </form>
</div>
{% endblock aside %}
{% block content %}
    {% include "activity/activity.html" %}
{% endblock %}
