@import "reset.css";

@body-bg: #f4f4f4;
@link-fg: #3875d7;
//@header-bg: rgb(102, 102, 102);
@header-bg: rgb(90, 111, 133);

body {
    background: @body-bg;
    font: normal 1em/1.5 "Droid Sans", sans-serif;
}

a {
    color: @link-fg;
}

.gradient(@from, @to) {
    background-image: -moz-linear-gradient(@from, @to);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@from), to(@to));
    background-image: -webkit-linear-gradient(@from, @to);
    background-image: -o-linear-gradient(@from, @to);
}

.button {
    background: #f2f2f2;
    height: 2.5em;
    float: left;
    font-size: .75em;
    line-height: 2.5em;
    padding: .25em .5em;
    border-radius: .25em;
    color: #222;
    text-decoration: none;
    box-shadow: 0 0 .125em #222;
    
    &:hover {
        box-shadow: 0 0 .25em #444;
        background: #fff;
    }
}

a.create {
    .button
}

// we can refactor this, by giving main header an #
body > header {
    background: @header-bg;
    .gradient(lighten(@header-bg, 10%), @header-bg);
    border-bottom: .25em solid darken(@header-bg, 10%);
    box-shadow: 0 0 .5em #222;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    z-index: 999;
    
    a {
        text-decoration: none;
    }
    
    h1 {
        clear: both;
        font: normal 1.5em/1 "Droid Sans", "Lucida Grande", sans-serif;
        letter-spacing: -0.075em;
        height: 2em;
        line-height: 2em;
        margin-left: .75em;
        
        a {
            color: #f2f2f2;
            text-shadow: 0 0 .125em #fff;
            position: relative;
            
            span {
                font-size: .2em;
                position: absolute;
                top: -.5em;
                right: -.5em;
                color: #fff;
                background: @link-fg;
                display: block;
                height: 1.5em;
                line-height: 1.5em;
                padding: 0 .5em;
                border-radius: .25em;
                letter-spacing: 0;
            }
        }
    }
    
    #workflow {
        position: absolute;
        left: 19.5em;
        bottom: .75em;
        
        form {
            float: left;
/*            border-left: 1px solid #999;*/
            color: #fff;
            padding: 0 .5em;
            font-size: .75em;
            
            &:first-child {
                border: none;
            }
            
            span.control {
                display: none;
            }
            
            p {
                float: left;
            }
            
            label {
                margin-right: .5em;
                
                em {
                    background: lighten(@header-bg, 15%);
                    padding: .25em .5em;
                    border-radius: .25em;
                }
            }
        }
    }
    
    nav {
        position: absolute;
        right: 1em;
        bottom: 0;
        height: 2.5em;
        line-height: 2.5em;
        
        a {
            color: #fff;
            font-size: .8em;
            padding: 0 1em;
            border-left: 1px solid #999;
            
            &:first-child {
                border: none;
            }
            
            &:hover {
                color: #eee;
                text-shadow: 0 0 .25em #fff;
            }
        }
    
    }
    
    form.shout {
        display: none;
        width: 100%;
        padding: .5em 0;
        border-bottom: .25em solid #999;
        
        textarea {
            height: 2em;
            width: 100%;
            background: lighten(@header-bg, 90%);
            color: #444;
            resize: vertical;
            max-height: 10em;
            border: none;
            font-family: "Georgia", sans-serif;
            
            &:focus {
                outline: none;
            }
        }
        
        p:not(.controls) {
            background: lighten(@header-bg, 90%);
            padding: .25em .5em;
            margin: .5em 1em;
            border-radius: .125em;
        }
        
        p.controls {
            clear: both;
            padding: 0 1em;
            text-align: right;
            
            .help {
                font-size: .8em;
                color: lighten(@header-bg, 30%);
            }
        }
    }
}

#content {
    margin: 5em 1em 1em 20em;
    //box-shadow: .125em .125em .5em #222;
    //border-radius: .25em;
    //background: #fff;
}

#bar {
	background: #444;
	padding-left: 10em;
	box-shadow: 0 0 .5em #222;
	position: absolute;
	top: -2em;
	
	textarea {
		height: 2em;
	}
}

.main-list {
	
	header {
	    border-bottom: .25em solid #eee;
	    padding: 1.5em 1em .5em;
	    margin-bottom: 1em;
	    height: 1.75em;
	    
	    h1 {
	        float: left;
	        font-weight: bold;
	        font-size: 1.5em;
	        letter-spacing: -.0125em;
	    }
	    
	    span.updated {
	        float: right;
	    }
	}
	
	ul {
      list-style: none;
	}
	
	li {
        //border-bottom: 1px solid #ddd;
        padding: .5em 1em 1em;
        position: relative;
        background: #fff;
        margin-bottom: .125em;
        border-radius: .125em;
        
        &.my {
            background: #eee;
        }
        
        &.date {
            font-size: 1.25em;
            text-align: center;
            color: #999;
            text-shadow: 0 0 1px #fff;
            margin-top: 1em;
            letter-spacing: -.07em;
            background: none;
        }
        
        span.time {
            position: absolute;
            left: 1em;
            width: 3em;
            text-align: center;
            top: 1em;
            font-size: .75em;
            color: #999;
            text-shadow: 0 0 1px #fff;
        }
        
        p.headline {
	        font-size: .75em;
	        margin: .5em 0 0 4em;
		    
		    img {
		        float: left;
		        margin-right: .5em;
		    }
		}
		
		article {
		    margin-left: 3em;
            font-family: "Georgia", sans;
		}
	}
	
	time {
		font-size: .75em;
		color: #fff;
		background: #aaa;
		padding: .25em .5em;
		border-radius: .5em;
	}
}

aside {
    margin: 1em 0 1em 1em;
    float: left;
    width: 18em;
    overflow: hidden;
    
    .state {
        color: #fff;
        background: @header-bg;
        padding: .25em .5em;
        border-radius: .25em;
        font-size: .8em;
    }
    
    .plan {
        clear: left;
        margin-top: 1.5em;
    }
    
    #user-info {
        
        img {
            float: left;
            margin-right: .5em;
            box-shadow: 0 0 .5em #fff;
        }
        
        h1 {
            font-size: 1.5em;
            font-weight: bold;
            line-height: 1;
            padding: .25em .25em .25em 0;
        }
    
    }
}

footer {
    font-size: .75em;
    background: @header-bg;
    padding: .25em 0;
    text-align: center;
    border-top: .25em solid #455667;
    color: #fff;
}

#modal {
    box-shadow: .125em .125em .5em #222;
    border-radius: .25em;
    background: @body-bg;
    position: relative;
    overflow: hidden;
    display: none;
    
    h2 {
        background: @header-bg;
        color: #fff;
        padding: .5em 1em;
    }
    
    form {
        padding: 0 1em;
        
        p {
            clear: both;
            line-height: 2em;
            
            label {
                float: left;
                width: 7em;
            }
            
            &.controls {
                margin-top: .5em;
            }
        }
    }
}

.plan-date {
  font-size: 0.7em;
  color: #fff;
  background: #ADD8E6;
  padding: 0.3em 0.5em;
  border-radius: 0.4em;
}


div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  background: darken(@header-bg, 20%);
  }

form.big-form {
    min-height: 15em;
    
    p {
        line-height: 2em;
        
        label {
            float: left;
            width: 8em;
            text-align: right;
            margin-right: .5em;
            text-shadow: 0 0 1px #fff;
        }
        .helptext {
            font-size: .8em;
            color: #444;
            text-shadow: 0 0 1px #fff;
        }
    }
    
    p.controls {
        margin: 1em 0 1em 8.5em;
    }
}