{% load pagination_tags people_tags%} 
<section id="activity" class="main-list">
    <header>
    <h1>Latest activity</h1>
    <span class="updated">
        <time datetime="{% now "c" %}" class="relative">{% now "c" %}</time>
    </span>
    </header>
{% if activity %}
{% autopaginate activity 100 %}
{% for action in activity %}
<ul>
    {% ifchanged action.time|date:"Ymd" %}
    <li class="date">
      {% if action.pretty_date %}
        {{action.pretty_date}}
      {% else %}
        {{action.time|date:"l, d F Y"}}
      {% endif %}
    </li>
    {% endifchanged %}
    <li{% if activity.user == user%} class="my"{% endif %}>
        <span class="time">{{action.time|date:"H:i"}}</span>
        <article>{{action.render|safe}}</article>
        <p class="headline">
            <time datetime="{{action.time|date:"c"}}" class="relative">{{action.time}}</time>
        </p>
    </li>
</ul>
{% endfor %}
<div class="paginator"> {% paginate %} </div>
{% else %}
    <p class="empty">There are no shouts yet. You can be first one.</p>
{% endif %}
</section>